@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.app {
    background-image: url("https://raw.githubusercontent.com/FranciscoOssian/front-end-intern-test/master/assets/04-BG.png");
    background-image: linear-gradient(0deg, #425f66 0%, #425f66 30%, rgba(0, 0, 0, 0) 100%), url("https://raw.githubusercontent.com/FranciscoOssian/front-end-intern-test/master/assets/04-BG.png");
}


.head, .footer {
    transition: 0.4s;
    background-color: #acd0b6;
    padding: 15px 0;
}.head {
    transition: 0.4s;
    width: 100%;
}.head a, .footer a {
    transition: 0.4s;
    font-size: 20px;
    text-decoration: none;
    color: #55665A;
    font-family: 'Roboto Slab', serif;
}.head .container, .footer .container {
    display: flex;
    align-items: center;
}.head ul, .footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
}.head ul li, .footer ul li {
    margin: 0 15px;
}

.container > div > img:nth-child(2){
    display: none;
}


.contactButton {
    background: #37595F;
    padding: 6px 10px;
    border-radius: 5px;
}.contactButton a {
    color: #fff;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu {
    display: none;
}

.card{
    transition: 0.4s;
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px 25% 0 25%;
}.card h1{
    transition: 0.4s;
    font-family: Cookie;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79.4%;
    color: #E4ECCB;

    text-align: center;
}.card h2{
    transition: 0.4s;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 127%;
    color: #FFFFFF;
}.card img{
    transition: 0.4s;
    width:300px;
    height:300px;
}.card img{
    transform: rotate(13.26deg);
}.card:last-of-type img{
    transform: rotate(346.74deg);
}


.slogan {
    transition: 0.4s;
    font-family: 'Cookie', cursive;
    font-size: 71px;
    color: white;
    text-align: center;
}

.form {
    transition: 0.4s;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 35%;
    height: 40%;
    padding-bottom: 65px;
}.form input, .form textarea{
    transition: 0.4s;
    border-radius: 5px;
    border: none;

    margin: 5px;
    padding: 5px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 79.4%;
}.form input{
    width: 420px;
    height: 60px;
}.form textarea{
    width: 420px;
}

.btn1{
    transition: 0.4s;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    
    display: flex;
    justify-content: center;
    
    color: #FFFFFF;
    background-color: #81A296;

    text-decoration: none;
    border-radius: 5px;
    border: none;

    padding: 10px;

    box-shadow: 0px 10px #486b5e;
}

.btn1Card{
    transition: 0.4s;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #81A296;

    text-decoration: none;
    border-radius: 5px;
    border: none;

    padding: 10px;

    box-shadow: 0px 10px #486b5e;

    width: 241px;
    height: 49px;
}

@media only screen and (min-width: 600px) {
    .card img{
        margin-left: 100px;
    }.card:last-of-type img{
        margin-left: 0;
        margin-right: 100px;
    }
}

.blur{
    filter: blur(20px);
}.notBlur{
    filter: blur(0px);
}

.popupHidden{
    display: none;
}

.popup{
    position: fixed;
    top: 25%;
    right: 35%;
    z-index: 6;
    background: #EEFBF6;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup h1{
    margin: 56px 27px 30px 27px;

    font-family: Cookie;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79.4%;

    text-align: center;

    color: #4D7981;
}
.popup h2{
    margin: 30px 88px 33px 88px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 127%;

    text-align: center;

    color: #4D7981;

}
.popup button{
    margin: 33px 56px 64px 56px;
    width: 420px;
    height: 60px;

    background: #2A87CA;
    border-radius: 5px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

/*------------------------------------------------------with js-----------------------------------------------------------------------------------------*/

.form input[red="yes"], .form textarea[red="yes"]{
    transition: 0.4s;
    background-color: #fc9191;
}

/*---------------------------------------------MOBILE-----------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .btn1Card{
        width: auto;
        height: auto;
        margin: 15px;
        margin-bottom: 50px;
    }
    .form input{
        width: 100%;
        height: 40px;
    }.form textarea{
        width: 100%;
    }
    .card{
        transition: 1s;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0 0 0;
    }.card img{
        transition: 0.4s;
        border-radius: 0;
        height: 50vh;
        width: 100vw;
    }.card h1{
        transition: 0.4s;
        font-size: 57px;
    }.card h2{
        transition: 0.4s;
        text-align: center;
        padding: 0 5% 0 5%;
    }

    .slogan {
        transition: 0.4s;
        font-size: 50px;
    }

    .form {
        transition: 0.4s;
        padding-left: 10%;
        padding-right: 10%;
    }

    .btn1{
        transition: 0.4s;
        display: grid;
        grid-template-columns: auto;
        margin: 20px 20px 20px 20px;
    }
}


@media only screen and (max-width: 600px) {
    .container > div img:last-of-type{
        display: inline;
    }
    .head {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 5;
        padding: 0;
    }

    .menuOpen > div{
        height: 100%;
    }.menuOpen > div ul{
        display: unset;
    }
    .menuClosed > div {
        height: 9vh;
    }.menuClosed > div ul{
        display: none;
    }

    .head .container {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding: 0;
    }

    .head ul {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background: #CEE1CE;
    }

    .head img {
        margin: 15px;
    }

    .head ul li {
        padding: 20px 0px 20px 0px;
        border-bottom: 1px solid #A3C2A3;
        width: 95%;
        text-align: right;
    }
    
    .head ul li:last-of-type {
        border: none;
        margin-top: auto;
        text-align: center;
    }

    .head ul li, .footer ul li {
        margin: 0;
    }
}